$black: #424242;
$pink: #ff0b6b;
$orange: #FF7043;
$teal: #01c8a9;
$indigo: #0077ff;
$purple: #6941b1;
$grape: #b01b5d;
.pink {
    color: $pink;
}

.orange {
    color: $orange;
}

.teal {
    color: $teal;
}

.indigo {
    color: $indigo;
}

.purple {
    color: $purple;
}

.grape {
    color: $grape;
}