.hero {
    background: url("/static/bg-fire.png") bottom left 30% no-repeat, linear-gradient(65deg, #F50057 0, #FF7043 100%);
    color: #fff;
}

.headline-node {
    flex-basis: 65%;
    img {
        display: none;
    }
}

.screen-node {
    flex-basis: 35%;
    text-align: right;
    img {
        max-height: 80vh;
    }
}

@media(max-width: 900px) {
    .hero {
        background: url("/static/bg-fire.png") center center no-repeat, linear-gradient(65deg, #F50057 0, #FF7043 100%);
    }
    .headline-node {
        flex-basis: 100%;
        text-align: center;
        margin-top: 50px;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .screen-node {
        display: none;
    }
}