.hero {
    background: url("/static/bg-fire.png") bottom left 30% no-repeat, linear-gradient(to right, #F50057 0, #FF7043 100%);
    color: #fff;
}

.headline-node {
    flex-basis: 65%;
}

.screen-node {
    flex-basis: 35%;
    text-align: center;
    img {
        max-height: 80vh;
    }
}